{{#extend "layout"}}
    {{#replace "main"}}
        <div class="container">
            <div class="inner">
                <h1>OPM-MU Dashboard</h1>
                <h2>Widgets to be added below...</h2>
            </div>
        </div>

    {{/replace}}
{{/extend}}
