{{#extend "layout"}}
    {{#replace "main"}}

        <section id="landing">
            <div class="inner">
                <h1>OPM-MU</h1>
                <h2>Wireframe to explore the platform</h2>
            </div>
        </section>

    {{/replace}}
{{/extend}}
