{{#extend "layout"}}
    {{#replace "main"}}
        <div class="container">
            <div class="inner">
                <h1>Reports Page</h1>
                <p>This page will have:</p>
                <ul>
                    <li>Approval submission and tracking</li>
                </ul>
            </div>
        </div>

    {{/replace}}
{{/extend}}
