{{#extend "layout"}}
    {{#replace "main"}}
        <div class="container">
            <div class="inner">
                <h1>Reports</h1>
                <p>This page will have:</p>
                <ul>
                    <li>Create Report including:</li>
                    <li>Sample Size</li>
                    <li>Response Rate</li>
                    <li>Completion Rate</li>
                    <li>Drop Off Rate</li>
                    <li>Mean OPM</li>
                    <li>Download</li>
                </ul>
            </div>
        </div>
    {{/replace}}
{{/extend}}
